nav div {
    padding: 6px;
    margin: 4px;
}

.nav-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.nav-img:hover {
    background-color: #515151;
    border-radius: 50%;
    cursor: pointer;
    height: 300px;
}

input {
    all: unset;
    color: white;
    padding-left: 5px;
}

.search-bar:hover {
    background-color: #515151;
    border: 1px solid #202124 !important;
}

button {
    all: unset;
    background-color: #333232;
    padding: 0px 0px 0px 0px;
    border-radius: 0px;
    border: 0px solid #202124;
    width: 0px;
    height: 0px;
}

.buttons {
    all: unset;
    background-color: #333232;
    padding: 8px 12px 8px 13px;
    border-radius: px;
    border: 1px solid #202124;
    width: 110px;
    height: 19px;
    color: white;
}

.buttons:hover {
    border: 1px solid rgb(150, 147, 147);
}

a {
    text-decoration: none;
}

.google-offer:hover {
    text-decoration: underline;
    cursor: pointer;
}

.google-offer {
    text-align: center;
    font-size: small;
    color: #8ab4f8;
}

footer div .links div {
    padding: 10px;
}

footer {
    color: #9aa0a6;
}

.nav-link {
    font-size: x-small;
}

input:invalid {
    animation: shake .3s;
}

.links {
    font-size: x-small;
}

.langs {
    color: #8ab4f8;
}

.bottoms {
    color: #999da2;
}

.bottoms:hover {
    text-decoration: underline;
}

@keyframes shake {
    25% {
        transform: translateX(4px)
    }
    50% {
        transform: translateX(-4px)
    }
    75% {
        transform: translateX(4px)
    }
}

@keyframes aman {
    0% {
        background-color: red;
    }
    25% {
        background-color: yellow;
    }
    50% {
        background-color: blue;
    }
    100% {
        background-color: green;
    }
}

img {
    width: 300px;
    height: 100px;
    transition: width 2s, height 2s, transform 1s;
    transition-timing-function: ease-out;
}

img:hover {
    width: 300px;
    height: 100px;
    transform: rotate(360deg);
}

.search {
    margin-left: 200px;
    text-align: center;
    width: fit-content;
    border-radius: 200px;
}

.tops {
    color: white;
    font-style: unset;
    font-style: inherit;
}